<h3 class="itemH3">{{category.name}}</h3>
<ItemDemonstration @item={{category}} />

<h3 class="productH3">Products:</h3>
<div class="listContainer">
{{#each category.items as |product|}}
  {{#link-to "ingredients.category.product" product.category product.name}}
    <ProductList @item={{product}} />
  {{/link-to}}
{{/each}}
</div>