<header id="header">
  <div class="firstImage mainHeaderImages">
    <picture>
      <source media="(max-width: 700px)" srcset="/assets/images/thirdBack.png">
      <img src="/assets/images/firstBack.png" alt="">
    </picture>
    <div class="fullAbsolut">
      <p class="textBottom">Would you like to open your pizzeria?</p>
    </div>
  </div>
  <div class="secondImage mainHeaderImages">
    <picture>
      <source media="(max-width: 700px)" srcset="/assets/images/thirdBack.png">
      <img src="/assets/images/secondBack.png" alt="">
    </picture>
    <div class="fullAbsolut">
      <p class="textBottom">Not sure how to calculate the cost of pizza?</p>
    </div>
  </div>
  <div class="thirdImage mainHeaderImages">
    <picture>
      <source media="(max-width: 700px)" srcset="/assets/images/thirdBack.png">
      <img src="/assets/images/secondBack.png" alt="">
    </picture>
    <div class="fullAbsolut">
      <p class="textBottom">We will help you!</p>
    </div>
  </div>
  <div class="clear"></div>
</header>