<div class="header">
  <div class="menu">
    <div class="container">
      {{#link-to "index" class="link"}}
        <h1 class="mainLink">Pizza</h1>
      {{/link-to}}
      <div class="nav">
        {{#link-to "kitchen" class="link menuItem"}}
          Kitchen
        {{/link-to}}
        {{#link-to "ingredients" class="link menuItem"}}
          Ingredients
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="body">
    <div class="container">
      {{outlet}}
    </div>
  </div>
</div>