<div class="header">
  <div class="menu">
    {{#link-to "index"}}
      <h1>Pizza</h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "kitchen" class="menuItem"}}
        Kitchen
      {{/link-to}}
      {{#link-to "kitchen" class="menuItem"}}
        Kitchen
      {{/link-to}}
      {{#link-to "about" class="menuItem"}}
        About
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>