<Header />
<section class="descriptionProgramm offer" id="offer">
  <div class="container">
    <h2 class="sectionTitle">We offer:</h2>
    <div class="offerBlock firstOfferBlock">
      <div class="offerBlockInner">
        <img class="offerImg" src="/assets/images/calculator.jpeg" alt="">
        <div class="offerContent">
          <h3 class="smallBlockTitle">Cost calculation</h3>
          <p class="smallBlockDescription">Quick calculation of the total cost of the order, depending on the size, stuffing and topping that make up the pizza.</p>
        </div>
      </div>
    </div>
    <div class="offerBlock">
      <div class="offerBlockInner">
        <img class="offerImg" src="/assets/images/lose_weight.jpeg" alt="">
        <div class="offerContent">
          <h3 class="smallBlockTitle">Calorie calculation</h3>
          <p class="smallBlockDescription">The calculation of caloric intake, depending on the composition. Especially for visitors who are watching the figure.</p>
        </div>
      </div>
    </div>
    <div class="offerBlock lastOfferBlock">
      <div class="offerBlockInner">
        <img class="offerImg" src="/assets/images/restructure.jpeg" alt="">
        <div class="offerContent">
          <h3 class="smallBlockTitle">Change the composition</h3>
          <p class="smallBlockDescription">The ability to add or remove any of the ingredients from the composition and change the size of pizza before it is ready.</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
<section class="descriptionProgramm">
  <div class="fullAbsolut buy"></div>
  <div class="container">
    <h2 class="sectionTitle">Order a program:</h2>
    <div class="table buyTable">
      <div class="tr buyTr">
        <div class="td buyTd">The contact person:</div>
        <div class="td buyTd">Andrew Strubitskiy</div>
      </div>
      <div class="tr">
        <div class="td buyTd">Phone Number:</div>
        <div class="td buyTd">+375 29 959 94 99</div>
      </div>
      <div class="tr">
        <div class="td buyTd">Skype:</div>
        <div class="td buyTd">ChoconoTiler</div>
      </div>
      <div class="tr">
        <div class="td buyTd">GitHub:</div>
        <div class="td buyTd"><a href="https://github.com/Chokono/" target="_blank">https://github.com/Chokono/</a></div>
      </div>
    </div>
  </div>
</section>